<div class="container">
<pre class=" language-css"><code class=" language-css"><span class="token selector"><span class="token class">.c-hamburger--rot</span> </span><span class="token punctuation">{</span>
  <span class="token property">background-color</span><span class="token punctuation">:</span> <span class="token hexcode">#28aadc</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token selector"><span class="token class">.c-hamburger--rot</span> span </span><span class="token punctuation">{</span>
  <span class="token property">transition</span><span class="token punctuation">:</span> transform <span class="token number">0.3</span>s<span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token comment" spellcheck="true">/* active state, i.e. menu open */</span>
<span class="token selector"><span class="token class">.c-hamburger--rot.is-active</span> </span><span class="token punctuation">{</span>
  <span class="token property">background-color</span><span class="token punctuation">:</span> <span class="token hexcode">#166888</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token selector"><span class="token class">.c-hamburger--rot.is-active</span> span </span><span class="token punctuation">{</span>
  <span class="token property">transform</span><span class="token punctuation">:</span> <span class="token function">rotate</span>(<span class="token number">90</span>deg)<span class="token punctuation">;</span>
<span class="token punctuation">}</span></code></pre>
</div>
	
	
	



			
			
