<div class="container ">
	<div class="video-player" ng-bind-html="youtubeUrl">
		<p>{{youtubeUrl}}</p>
		
	</div>
	<div id="videos-list">
		<div id="video-title">
			<ul ng-repeat="video in klVidInfo" id="videoUl">
				<li id="video-title-container">
					<span class="fa fa-play-circle"></span>
					<p ng-click="videoChange(video.id.videoId)"> {{ video.snippet.title }} </p>
					<!-- <img ng-src="{{ title.snippet.thumbnails.default.url }}"> -->
				</li>
			</ul>
		</div>
	</div>
</div>
			

		
		
		
		
						
						
				
		







