h1,h2,h3,h4,h5,h6, p{
	font-family: 'Palanquin', sans-serif;
}

/*MENU*/
.menu-icon-header-container{
	color: #fff;
}
.fa-bars{

	text-align: right;
	display: block;
	margin: 20px auto;
	font-size: 2.0em;
	cursor: pointer;
	z-index: 100;
	position: absolute;
	right: 20px
	top:20px;
}

#close-menubar{
	color: #fff;
	font-size: 1.3em;
	cursor: pointer;
	background: #474545;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 40px;
}

.kl-nav-container{
	display: inline-block;
	width: 10%;
	height: 100vh;
	background-color: #343434;
	color: #fff;
	margin: 0px;
	padding: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	
}

.main-menu{
	margin: 0 auto;
	text-align: center;
	padding: 0px;
}

.main-menu li{
	
	list-style-type: none;
	border-bottom: 1px solid #474545;
	
}

.fa-calendar-o,
.fa-camera,
.fa-play-circle,
.fa-headphones{
	font-size: 2.0em;
	margin: 20px;
	

}

/*//////////////*/

.main-container{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}


.dark-container{
	background-color: #131112;
	height: 500px;
	width: 100%;
	padding: 20px;
	background-image: url(../img/KL-cover.jpg);
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;

	-webkit-box-shadow: inset 0px -11px 7px -1px rgba(0,0,0,0.18);
	-moz-box-shadow: inset 0px -11px 7px -1px rgba(0,0,0,0.18);
	box-shadow: inset 0px -11px 7px -1px rgba(0,0,0,0.18);

	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 53% 89%, 50% 93%, 47% 89%, 0 89%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 53% 89%, 50% 93%, 47% 89%, 0 89%);
}

.dark-container h2{
	color: #fff;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 10px;
	margin-top: 200px;





}


.calendar-container{

	margin: 100px auto;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	/* margin-right: 40px; */
	border-right: 1px solid #131112;

	padding: 20px;
}

#event-animation { position:relative; }

.ng-enter, .ng-leave { width:100%; position:absolute; }
.ng-enter {
-webkit-animation:slideInUp 1s both ease-in;
-moz-animation:slideInUp 1s both ease-in;
animation:slideInUp 1s both ease-in;
}
.ng-leave {
-webkit-animation:zoomOutDown 0.5s both ease-in;
-moz-animation:zoomOutDown 0.5s both ease-in;
animation:zoomOutDown 0.5s both ease-in;
}



