.container, .navbar,
.navbar-inverse,
 {
	background-color: #CC0016 !important;
}
#event-animation { position:relative; }

.ng-enter, .ng-leave { width:100%; position:absolute; }
.ng-enter {
-webkit-animation:slideInUp 1s both ease-in;
-moz-animation:slideInUp 1s both ease-in;
animation:slideInUp 1s both ease-in;
}
.ng-leave {
-webkit-animation:slideOutDown 1s both ease-in;
-moz-animation:slideOutDown 1s both ease-in;
animation:slideOutDown 1s both ease-in;







